<h1 id="tableLabel">Cars info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!carsData"><em>Loading...</em></p>


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="info">
  <thead>
    <tr>
      <th>Id</th>
      <th>Person id</th>
      <th>City</th>
      <th>Value</th>
    <th>Date</th>
      <th>Is active</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fine of info">
      <td>{{ fine.id }}</td>
      <td>{{ fine.personId }}</td>
      <td>{{ fine.city}}</td>
      <td>{{ fine.value}}</td>
      <td> {{fine.dateTimeAccident}}</td>
      <td>{{fine.isActive}}</td>


    </tr>
  </tbody>
</table>

<button (click)="deleteF()">Delete</button>
