<div>
  <div>
    <label>Fine's value'</label>
    <input type="number" [(ngModel)]="finesData.value" />


  </div>
  <div>
    <label>Number of car</label>
    <input type="text" [(ngModel)]="finesData.carNumber" />
  </div>
  <div>
    <label>Date of accident</label>
    <input type="date" [(ngModel)]="finesData.dateTime" />
  </div>
  <div>
    <label>Registation id </label>
    <input type="text" [(ngModel)]="finesData.numberRegistrator" />
  </div>
  <button (click)="Create()">Create</button>
</div>
