<h1 id="tableLabel">People info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!person"><em>Loading...</em></p>

<label>Name</label>
<input type="text" [(ngModel)]="person.surname" value="{{person.surname}}" />
<br />
<label>City</label>
<input type="text" [(ngModel)]="person.city" value="{{person.city}}" />
<br />
<label>Address</label>
<input type="text" [(ngModel)]="person.address" value="{{person.address}}" />
<br />
<label>Current cars count</label>
<input type="number" [(ngModel)]="person.carsCount" value="{{person.carsCount}}" />
<br />
<label>Active fines count</label>
<input type="number" [(ngModel)]="person.finesCount" value="{{person.finesCount}}" />
<br />
<button (click)="SaveData()">Save</button>
