<h1 id="tableLabel">Cars info</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!carsData"><em>Loading...</em></p>

<button (click)="CreateNew()">New person</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="carsData">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Number</th>
      <th>Fines</th>
    
      <th>Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of carsData">
      <td>{{ car.id }}</td>
      <td>{{ car.name }}</td>
      <td>{{ car.number}}</td>
      <td>{{ car.fines}}</td>
      <td>
        <a href="/create-fine-by-car/{{car.id}}">Add fine</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/car-fines-info/{{car.id}}">Get info</a>
      </td>


    </tr>
  </tbody>
</table>

<button (click)="deleteF()">Delete</button>
